/.DS_Store
/Screenshot 2024-01-30 at 22.33.04.png
/Screenshot 2024-01-30 at 22.36.44.png
/image-2.png
/lennard_jones - 4K.mov
/lennard_jones_crystalization.mp4
/lennard_jones_short.mp4
/lennard_jones_simulation.mp4
/lj.drawio
/lj.png